#main-page{
    background: url("../img/91.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#benefits{
    background: url("../img/5.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#features{
    background: url("../img/8.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#testimonials{
    background: url("../img/71.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login-sign-in{
    background: url("../img/5.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    padding: 10px 0;
    background: transparent;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.logo p{
    color: #fff;
    font-weight: 500;
    font-size: 2rem !important;
    font-family: 'Patua One', cursive;
}
.header p, .header a, .header ul{
    margin: 0;
}
.main-nav li{
    margin: 0 10px;
}
.main-nav li a{
    color: #fff;
    text-decoration: none;
}


.has-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}
.btn-register{
    background: transparent;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
}
.btn-register:hover,
.btn-register:focus,
.btn-register:active{
    background: #fff;
    color: #38b598;
    border-radius: 10px;
    border: 2px solid #fff;
}

.btn-start-green{
    background: #35b699;
    color: #fff;
    border-radius: 10px;
}
.btn-start-green:hover,
.btn-start-green:focus,
.btn-start-green:active{
    background: #35b699;
    color: #fff;
    border-radius: 10px;
}
.main-description{
    margin-left: 20px;
}

.scroll-downs {
    width: 34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 10px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(5px); opacity: 0;}
}
.video-section{
    color: #fff;
}

.video-block{
    width: 100%;
    min-height: 250px;
    min-width: 100%;
    background: #fff;
    border: 1px solid #35b699;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.bg-primary {
    background-color: #35b699 !important;
}
.has-pattern {
    position: relative;
}
.has-pattern::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../img/dots.png");
    background-size: 6%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.02;
}
.statistics .item {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.statistics .item strong {
    font-size: 2rem;
}

.statistics .item p {
    text-transform: uppercase;
}

#features header {
    margin-bottom: 2rem;
    color: #fff;
}

#features header h2 small {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
}

.feature-img{
    margin-bottom: 10px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

}

.features-description{
    color: #fff;
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}


#testimonials header {
    margin-bottom: 2rem;
}


#testimonials .swiper-wrapper {
    padding: 20px 0 !important;
}
.testimonials-slider{
    background: #fff;
}
.testimonial{
    cursor: default;
    padding: 10px;
}

.testimonial p.feedback {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 50px;
}
.testimonial p.feedback::before,
.testimonial p.feedback::after {
    content: '\f10d';
    font-size: 2.5rem;
    color: #38b598;
    margin-right: 20px;
    display: inline-block;
    font-family: 'FontAwesome';
}
.testimonial p.feedback::after {
    content: '\f10e';
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    margin-right: 0;
    margin-left: 20px;
    margin-top: -20px;
}

.testimonial .user {
    margin-bottom: 30px;
}
.testimonial .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.testimonial .title {
    text-align: left;
}

.testimonial .title strong {
    display: block;
    line-height: 1;
}

.testimonial .title span {
    display: block;
    font-size: 0.85rem;
    color: #999;
}
.swiper-pagination-bullet-active {
    background: #38b598;
}

header h2{
    color: #fff;
}
.panel-login {
    border-color: #ccc;
    min-width: 600px;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    background: #fff;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #38b598;
    margin-bottom: 20px;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #38b598;
    font-size: 18px;
}
.panel-login>.panel-heading a:first-child{
    margin-right: 20px;
}
.panel-body{
    min-width: 400px;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #38b598;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #38b598;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #38b598;
    border-color: #38b598;
}
.btn-register-form{
    background-color: #38b598;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #38b598;
}
.btn-register-form:hover,
.btn-register-form:focus,
.btn-register-form:active{
    color: #fff;
    background-color: #38b598;
    border-color: #38b598;
}
.btn-recover-form{
    background-color: #38b598;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #38b598;
}
.btn-recover-form:hover,
.btn-recover-form:focus,
.btn-recover-form:active{
    color: #fff;
    background-color: #38b598;
    border-color: #38b598;
}
.forgot-password {
    text-decoration: underline;
    color: #636363;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #4f4f4f;
}
.label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #bbbbbb;
}

.label-checkbox:hover input ~ .checkmark {
    background-color: #aaaaaa;
}

.label-checkbox input:checked ~ .checkmark {
    background-color: #38b598;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.label-checkbox .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .panel-login {
        border-color: #ccc;
        min-width: 300px;
        padding: 20px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        background: #fff;
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }
    .panel-body{
        min-width: 280px;
    }

    .main-description {
        margin-left: 0;
        margin-top: 20px;
    }

    .feature-img img{
        width: 64px;
        height: 64px;
    }

    .testimonial p.feedback::before, .testimonial p.feedback::after {
        content: '\f10d';
        font-size: 2rem;
        color: #38b598;
        margin-right: 20px;
        display: inline-block;
        font-family: 'FontAwesome';
    }

    .content{
        margin-top: 30px;
    }

    p{
        font-size:  .8rem !important;
    }

    header h2{
        font-size:  1rem !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content{
        margin-top: 80px;
    }
    p{
        font-size:  .9rem !important;
    }

    header h2{
        font-size:  1.2rem !important;
    }

    .feature-img img{
        width: 64px;
        height: 64px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content{
        margin-top: 80px;
    }
    p{
        font-size:  1rem !important;
    }

    header h2{
        font-size:  1.5rem !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p{
        font-size:  1.1rem !important;
    }
    header h2{
        font-size:  1.8rem !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p{
        font-size:  1.3rem !important;
    }
    header h2{
        font-size:  2rem !important;
    }
}